#cartImg{
    width: 125px;
    height: 135px;
    padding-left: 20px;
    border-radius: 6px;
}

.parentCon{
  display: grid;
  grid-template-columns: auto;
}

hr{
    color: black;
}

.otherDiv{
  position: absolute;
  top: 139px;
  left: 875px;
}
.items{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.items2{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 470px;
    font-size: 12px;
   
}
#item{
    font-size: 25px;
    color: gray;
}

#price{
    margin: 5px;
    position: relative;
    right: 30px;
    /* padding-right: 35px; */
    color: gray;
}
#qty{
    margin: 5px;
    color: gray;
}
#total{
    margin: 5px;
    color: gray;
    padding-left: 37px;
}

#firstLine{
    margin-bottom: 2px;
}

#secondLine{
    margin-top: 2px;
}
#thirdLine{
    margin-top: 1px;
}


#theBtn{
    /* background-color: #f0da98; */
    border: 5px solid gray;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    width: 79px;
    height: 39px;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 130px;
    left: 590px;
}

#decrement{
    background-color: gray;
    border: none;
    border-radius: 6px;
    height: 24px;
    width: 24px;
    font-size: 13px;
    color: #fff;
    margin: 5px;
}
#increment{
    background-color: gray;
    border: none;
    border-radius: 6px;
    height: 24px;
    width: 24px;
    font-size: 13px;
    color: #fff;
    margin-right: 3px;
}

#pNum{
    color: black;
    position: relative;
    top: 4px;
    left: 4px;
    
    font-size: 16px;
}

#delete{
    /* border: 2px solid black; */
    border: none;
    background-color: red;
    font-size: 12px;
    margin: 12px;
    position: relative;
    top: 35px;
    right: 80px;
}

#forPrice{
    color: black;
    padding-left: 10px;
    position: relative;
    bottom: 80px;
    left: 365px;
}
#forName{
    color: black;
    padding-left: 10px;
}

#theCart{
    padding-top: 15px;
    /* padding-left: 10px; */
    justify-content: center;
}

#orderLine{
    margin-top: 10px;
    width: 340px;
}

#subTotal{
    color: gray;
}