.myHome{
    border: #fff;
    color:  #F0DA98;
}
#watch1{
    width: 468px;
    height: 453px;
    /* padding-left: 60px; */
    /* margin: 25px; */
    /* padding-right: 10px; */
}
#watch2{
    width: 468px;
    height: 453px;
    /* padding-left: 75px; */
    
    /* margin: 25px; */
}

.cardImg2{
    display: flex;
    /* padding-bottom: 55px; */
    justify-items: center;
    margin-left: 105px;
    padding-top: 85px;
    /* /* padding-left: 110px; */
}

 #Btn2{
    border: none;
    border-radius: 5px;
    position: relative;
    top: 353px;
    right: 159px;
    
} 

#btn3{
    width: 127px;
    height: 39px;
    position: relative;
    bottom: 85px;
    left: 316px;
    border: none;
    justify-content: center;
    border-radius: 10px;
    background-color:  #F0DA98;
    /* color: #fff; */
    font-size: 20px;
}
.gridImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 53px 0;
    padding-left: 10px;
    /* margin-top: 5px; */
}

.card-img-top{
    width: 87px;
    height: 65px;
    padding-top: 10px;
    
}

.heading1{
    text-align: center;
    /* padding-left: 24px; */
    padding-top: 65px;
    color: black;
}

